/*
 * Empty Stylesheet file.
 */

.mainFxmlClass {
fysisk_sagsbehandlers_bemaerk {
        border-style: none;
        border-color: Transparent;
        background-color: Transparent;
        overflow: auto;
        outline: none;
        border-radius: 0;
      }
}
